

.App {
    font-family: 'Raleway', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;

}

.app-title {
    position: absolute;
    top: 30px;
    text-align: center;

    user-select: none;

    font-size: 56px;
    z-index: 101;
}
