body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --color-1: rgb(255, 153, 200);
    --color-2: rgb(252, 246, 189);
    --color-3: rgb(208, 244, 222);
    --color-4: rgb(169, 222, 249);
    --color-5: rgb(228, 193, 249);
}
